---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
		<Hero />
		<p class="p-3">Hello</p>
	</main>
</Layout>
