---
import Layout from '../layouts/Layout.astro';
import CourseCatalogue from '../components/CourseCatalogue.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Welcome to Astro.">
	<Navbar />
	<main role='main'>
		<Hero />
		<CourseCatalogue />
		<About />
	</main>
	<Footer />
</Layout>
