---
import { Image } from 'astro:assets';
import localBirdImage from '../images/intro-banner.jpg';
---

<div class="d-flex">
<div>
    <p>Welcome to</p>
    <p>My Learning</p>

</div>
<div>
    <Image src={localBirdImage} alt="A graphic to represent My Learning, a personal development portal for limitless learning." width="800" height="400"/>
</div>
</div>