---
import { Image } from 'astro:assets';
import bannerImage from '../images/intro-banner.jpg';
import LogInForm from './LogInForm.astro';
---

<div class="hero row row-cols-1 row-cols-md-2 no-gutters">
<div class="col p-5">
    <LogInForm />
</div>
<div class="col">
    <Image class="hero-image w-100 h-100" src={bannerImage} alt="A graphic to represent My Learning, a personal development portal for limitless learning." width="800" height="400"/>
</div>
</div>
</div>
<style>
    .hero {
        background-color: #F2F2F2;
        .hero-image {
            object-fit: cover;
        }
    }
</style>